!!! 5
html
  head
    title Tasty Town
    link(rel="stylesheet", href="/css/style.css")
    - if ( typeof fetchMap != "undefined" && fetchMap )
      script(type="text/javascript", src="http://maps.google.com/maps/api/js?sensor=true")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
  body!= body

